/* ***************** */
/* GENERAL REUSABLE COMPONENTS */
/* ***************** */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}


.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  /* align-items: center; */
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
    align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

/* 
.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color:#333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
} */

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
}

.link:hover,
.link:active{
  color: #cf711f;
}



.margin-right-sm{
  margin-right: 1.6rem !important;
}

.margin-bottom-md{
  margin-bottom: 4.8rem !important;
}

strong {
  font-weight: 500;
}